@charset "UTF-8";
/* line 5, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Users/jasonhalsey/.rvm/gems/ruby-1.9.3-p484/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
/* line 2, sass/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, sass/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
/* line 1, sass/base/extends/_button.scss */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
}
/* line 13, sass/base/extends/_button.scss */
button:hover,
input[type="submit"]:hover {
  background-color: #2c5999;
  color: white;
}
/* line 18, sass/base/extends/_button.scss */
button:disabled,
input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, sass/base/_typography.scss */
body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* line 10, sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
}

/* line 22, sass/base/_typography.scss */
h1 {
  font-size: 2.25em;
}

/* line 26, sass/base/_typography.scss */
h2 {
  font-size: 2em;
}

/* line 30, sass/base/_typography.scss */
h3 {
  font-size: 1.75em;
}

/* line 34, sass/base/_typography.scss */
h4 {
  font-size: 1.5em;
}

/* line 38, sass/base/_typography.scss */
h5 {
  font-size: 1.25em;
}

/* line 42, sass/base/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 46, sass/base/_typography.scss */
p {
  margin: 0 0 0.75em;
}

/* line 50, sass/base/_typography.scss */
a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none;
}
/* line 55, sass/base/_typography.scss */
a:hover {
  color: #2c5999;
}
/* line 59, sass/base/_typography.scss */
a:active, a:focus {
  color: #2c5999;
  outline: none;
}

/* line 65, sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}

/* line 73, sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 79, sass/base/_typography.scss */
blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em;
}

/* line 86, sass/base/_typography.scss */
cite {
  color: #737373;
  font-style: italic;
}
/* line 90, sass/base/_typography.scss */
cite:before {
  content: "\2014 \00A0";
}

/* line 1, sass/base/_forms.scss */
fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em;
}

/* line 8, sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
}

/* line 16, sass/base/_forms.scss */
label {
  font-weight: bold;
  margin-bottom: 0.375em;
}
/* line 20, sass/base/_forms.scss */
label.required:after {
  content: "*";
}
/* line 24, sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, sass/base/_forms.scss */
textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%;
}
/* line 44, sass/base/_forms.scss */
textarea:hover,
input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
select[multiple=multiple]:hover {
  border-color: #c4c4c4;
}
/* line 48, sass/base/_forms.scss */
textarea:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
select[multiple=multiple]:focus {
  border-color: #477DCA;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
  outline: none;
}

/* line 55, sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em;
}

/* line 69, sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%;
}

/* line 74, sass/base/_forms.scss */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto;
}

/* line 1, sass/base/_tables.scss */
table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 8, sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left;
}

/* line 15, sass/base/_tables.scss */
td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0;
}

/* line 20, sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

/* line 1, sass/base/_lists.scss */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 20, sass/base/_lists.scss */
dl {
  margin-bottom: 0.75em;
}
/* line 23, sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin-top: 0.75em;
}
/* line 28, sass/base/_lists.scss */
dl dd {
  margin: 0;
}

/* line 1, sass/base/_buttons.scss */
button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

/* line 1, sass/_partials/_typography.scss */
body {
  font-family: Cambria, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  color: #E6EFC8;
  letter-spacing: 1px;
  line-height: 1.4em;
}

/* line 10, sass/_partials/_typography.scss */
h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.75em;
  color: #E6EFC8;
  line-height: 2.0em;
}

/* line 18, sass/_partials/_typography.scss */
p {
  font-family: Cambria, serif;
}

/* line 21, sass/_partials/_typography.scss */
span.red {
  color: #900;
  font-style: normal;
}

/* line 25, sass/_partials/_typography.scss */
.straight {
  font-style: normal !important;
}

/* line 28, sass/_partials/_typography.scss */
#footer-list {
  font-style: italic;
}

/* line 32, sass/_partials/_typography.scss */
article.individual-member h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.55em;
  color: #E6EFC8;
  line-height: 1.0em;
}
/* line 40, sass/_partials/_typography.scss */
article.individual-member h4 {
  color: #900;
  font-size: 1.25em;
  line-height: 2.0em;
}
/* line 45, sass/_partials/_typography.scss */
article.individual-member a {
  color: #E6EFC8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 48, sass/_partials/_typography.scss */
article.individual-member a:hover {
  color: #900;
}

/* line 1, sass/_partials/_structure.scss */
body {
  background: #080912 url(images/backgroundWood.jpg) no-repeat;
  background-size: 100%;
  background-position: fixed;
}

/* line 6, sass/_partials/_structure.scss */
#main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
#main:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 979px) {
  /* line 6, sass/_partials/_structure.scss */
  #main {
    padding: 0 2.0em;
  }
}
@media screen and (max-width: 468px) {
  /* line 6, sass/_partials/_structure.scss */
  #main {
    padding: 0 1.0em;
  }
}

/* line 16, sass/_partials/_structure.scss */
section#top_block {
  position: relative;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
section#top_block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 20, sass/_partials/_structure.scss */
#home_rotate {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6EFC8;
  margin-bottom: 12px;
}
/* line 85, sass/neat/grid/_span-columns.scss */
#home_rotate:last-child {
  margin-right: 0;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
#home_rotate:after {
  content: "";
  display: table;
  clear: both;
}
/* line 26, sass/_partials/_structure.scss */
#home_rotate img {
  width: 100%;
  height: auto;
  max-height: 40em;
  overflow: hidden;
}

/* line 1, sass/_partials/_footer.scss */
footer {
  margin-top: 2.0em;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
footer:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, sass/_partials/_footer.scss */
footer ul#footer-list {
  border-top: 1px solid #E6EFC8;
  border-bottom: 1px solid #E6EFC8;
  padding: 7px 0 5px;
  display: flex;
  flex-flow: space-between;
  margin-bottom: 40px;
}
/* line 16, sass/_partials/_footer.scss */
footer .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}
/* line 29, sass/_partials/_footer.scss */
footer .space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 979px) {
  /* line 35, sass/_partials/_footer.scss */
  footer ul#footer-list {
    flex-direction: none;
    display: block;
    flex-flow: none;
  }
  /* line 39, sass/_partials/_footer.scss */
  footer ul#footer-list li {
    text-align: center;
    display: block;
    width: 100%;
  }
  /* line 43, sass/_partials/_footer.scss */
  footer ul#footer-list li a {
    color: #E6EFC8;
    font-style: normal;
  }
}

/* line 2, sass/_partials/_header.scss */
#logo-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #E6EFC8;
  padding: 15px 0 5px;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
#logo-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 6, sass/_partials/_header.scss */
#logo-container img {
  width: 100%;
  height: auto;
}

/* line 11, sass/_partials/_header.scss */
header {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 1, sass/_partials/_navigation.scss */
header.navigation {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  height: 60px;
  width: 100%;
  z-index: 999;
}
/* line 23, sass/_partials/_navigation.scss */
header.navigation .navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 9999;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
/* line 30, sass/_partials/_navigation.scss */
header.navigation .logo {
  float: left;
  max-height: 60px;
  padding-left: 1em;
  padding-right: 2em;
}
/* line 36, sass/_partials/_navigation.scss */
header.navigation .logo img {
  max-height: 60px;
  padding: .8em 0;
}
/* line 44, sass/_partials/_navigation.scss */
header.navigation .navigation-menu-button {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  float: right;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-transform: uppercase;
}
@media screen and (min-width: 53.75em) {
  /* line 44, sass/_partials/_navigation.scss */
  header.navigation .navigation-menu-button {
    display: none;
  }
}
/* line 59, sass/_partials/_navigation.scss */
header.navigation .navigation-menu-button:hover {
  color: #9c1c21;
}
/* line 63, sass/_partials/_navigation.scss */
header.navigation div.menu-menu-1-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}
/* line 85, sass/neat/grid/_span-columns.scss */
header.navigation div.menu-menu-1-container:last-child {
  margin-right: 0;
}
@media screen and (max-width: 979px) {
  /* line 63, sass/_partials/_navigation.scss */
  header.navigation div.menu-menu-1-container {
    position: absolute;
  }
}
/* line 72, sass/_partials/_navigation.scss */
header.navigation .nav {
  z-index: 9999999;
  float: none;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
}
/* line 85, sass/neat/grid/_span-columns.scss */
header.navigation .nav:last-child {
  margin-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 72, sass/_partials/_navigation.scss */
  header.navigation .nav {
    float: left;
  }
}
@media screen and (max-width: 979px) {
  /* line 72, sass/_partials/_navigation.scss */
  header.navigation .nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 85, sass/neat/grid/_span-columns.scss */
  header.navigation .nav:last-child {
    margin-right: 0;
  }
}
/* line 88, sass/_partials/_navigation.scss */
header.navigation ul#menu-menu-1 {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 9999;
}
@media screen and (min-width: 53.75em) {
  /* line 88, sass/_partials/_navigation.scss */
  header.navigation ul#menu-menu-1 {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
/* line 107, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link {
  background: #d3d3d3;
  text-align: left;
  border-bottom: 1px solid #ffffff;
  padding-left: 2em !important;
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding: 0.4em;
  width: 100%;
  z-index: 9999;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.3em;
}
@media screen and (min-width: 53.75em) {
  /* line 123, sass/_partials/_navigation.scss */
  header.navigation ul li.nav-link:first-child {
    padding-left: 0 !important;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 107, sass/_partials/_navigation.scss */
  header.navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px;
    text-decoration: none;
    width: auto;
    text-align: center;
    border-bottom: none;
  }
}
/* line 139, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link a {
  color: #080912;
  display: inline-block;
  font-weight: 400;
}
@media screen and (min-width: 53.75em) {
  /* line 139, sass/_partials/_navigation.scss */
  header.navigation ul li.nav-link a {
    color: #E6EFC8;
  }
}
/* line 148, sass/_partials/_navigation.scss */
header.navigation ul li.nav-link a:hover {
  color: #9c1c21;
}
/* line 154, sass/_partials/_navigation.scss */
header.navigation .current_page a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 3px;
}
/* line 162, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link {
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 162, sass/_partials/_navigation.scss */
  header.navigation li.more.nav-link {
    padding-right: 1em;
  }
}
/* line 169, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em;
}
/* line 173, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link a {
  margin-right: 1em;
}
/* line 177, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > a {
  padding-right: 0.6em;
}
/* line 181, sass/_partials/_navigation.scss */
header.navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  content: '\25BE';
  color: rgba(255, 255, 255, 0.7);
}
/* line 188, sass/_partials/_navigation.scss */
header.navigation li.more {
  overflow: visible;
  padding-right: 0;
}
/* line 192, sass/_partials/_navigation.scss */
header.navigation li.more a {
  padding-right: .8em;
}
/* line 196, sass/_partials/_navigation.scss */
header.navigation li.more > a {
  padding-right: 1.6em;
  position: relative;
}
@media screen and (min-width: 53.75em) {
  /* line 196, sass/_partials/_navigation.scss */
  header.navigation li.more > a {
    margin-right: 1em;
  }
}
/* line 204, sass/_partials/_navigation.scss */
header.navigation li.more > a:after {
  content: '›';
  font-size: 1.2em;
  position: absolute;
  right: 0.5em;
}
/* line 212, sass/_partials/_navigation.scss */
header.navigation li.more:hover > .sub-menu {
  display: block;
}
@media screen and (min-width: 53.75em) {
  /* line 188, sass/_partials/_navigation.scss */
  header.navigation li.more {
    padding-right: .8em;
    position: relative;
  }
}
/* line 222, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu {
  display: none;
  padding-left: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 222, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu {
    left: -1em;
    position: absolute;
    top: 1.5em;
  }
}
@media screen and (min-width: 53.75em) {
  /* line 232, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu .sub-menu {
    left: 11.8em;
    top: 0;
  }
}
/* line 239, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu li {
  display: block;
  padding-right: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 239, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li {
    line-height: 46.15385px;
  }
  /* line 246, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
  /* line 251, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em;
  }
}
/* line 258, sass/_partials/_navigation.scss */
header.navigation ul.sub-menu li a {
  background-color: transparent;
  display: inline-block;
  text-align: right;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 258, sass/_partials/_navigation.scss */
  header.navigation ul.sub-menu li a {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 1em;
    text-align: left;
    width: 12em;
  }
}
/* line 276, sass/_partials/_navigation.scss */
header.navigation .navigation-tools {
  display: block;
  padding-right: 1em;
  padding-left: 0.5em;
  clear: both;
  background: #505050;
}
/* line 15, sass/bourbon/addons/_clearfix.scss */
header.navigation .navigation-tools:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (min-width: 53.75em) {
  /* line 276, sass/_partials/_navigation.scss */
  header.navigation .navigation-tools {
    background: transparent;
    float: right;
    clear: none;
  }
}
/* line 291, sass/_partials/_navigation.scss */
header.navigation a.sign-up {
  margin-top: 1.2em;
  float: right;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline;
  background: #477DCA;
  border-radius: 3px;
  color: white;
  font-size: .8em;
  font-weight: 800;
  text-transform: uppercase;
  padding: .4em .5em;
}
@media screen and (min-width: 53.75em) {
  /* line 291, sass/_partials/_navigation.scss */
  header.navigation a.sign-up {
    padding: .5em 1em;
  }
}
/* line 308, sass/_partials/_navigation.scss */
header.navigation a.sign-up:hover {
  background: #6f99d5;
}
/* line 315, sass/_partials/_navigation.scss */
header.navigation .search-bar {
  padding: .85em .6em;
  float: left;
}
/* line 322, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit {
  position: relative;
}
/* line 325, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit input[type=search] {
  background: rgba(13, 13, 13, 0);
  border: 1px solid transparent;
  padding: .6em .8em;
  font-size: .9em;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  margin: 0;
}
@media screen and (min-width: 53.75em) {
  /* line 325, sass/_partials/_navigation.scss */
  header.navigation .search-bar .search-and-submit input[type=search] {
    width: 100%;
  }
}
/* line 340, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] {
  border: 1px solid rgba(3, 3, 3, 0);
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0);
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: rgba(38, 38, 38, 0);
  background-image: -webkit-linear-gradient(rgba(38, 38, 38, 0), rgba(10, 10, 10, 0));
  background-image: linear-gradient(rgba(38, 38, 38, 0), rgba(10, 10, 10, 0));
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 transparent;
  background-clip: padding-box;
  border: 1px solid rgba(3, 2, 2, 0);
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(77, 77, 77, 0);
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: rgba(38, 38, 38, 0);
  background-image: -webkit-linear-gradient(rgba(38, 38, 38, 0), rgba(11, 9, 9, 0));
  background-image: linear-gradient(rgba(38, 38, 38, 0), rgba(11, 9, 9, 0));
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 transparent;
  background-clip: padding-box;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  bottom: 0.3em;
  left: auto;
  outline: none;
  padding: 0 15px;
}
/* line 131, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0);
  background-image: -webkit-linear-gradient(rgba(26, 26, 26, 0), rgba(3, 3, 3, 0));
  background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(3, 3, 3, 0));
}
/* line 147, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid rgba(3, 3, 3, 0);
  box-shadow: inset 0 0 8px 4px transparent, inset 0 0 8px 4px transparent;
}
/* line 131, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
  box-shadow: inset 0 1px 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0);
  background-image: -webkit-linear-gradient(rgba(26, 26, 26, 0), rgba(3, 2, 2, 0));
  background-image: linear-gradient(rgba(26, 26, 26, 0), rgba(3, 2, 2, 0));
}
/* line 147, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
  border: 1px solid rgba(3, 2, 2, 0);
  box-shadow: inset 0 0 8px 4px transparent, inset 0 0 8px 4px transparent;
}
/* line 51, sass/bourbon/addons/_button.scss */
header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* line 350, sass/_partials/_navigation.scss */
header.navigation .search-bar .search-and-submit button[type=submit] img {
  height: 12px;
  opacity: .7;
}
@media screen and (min-width: 53.75em) {
  /* line 315, sass/_partials/_navigation.scss */
  header.navigation .search-bar {
    width: 16em;
    position: relative;
    display: inline-block;
  }
  /* line 362, sass/_partials/_navigation.scss */
  header.navigation .search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
  }
}

/* line 373, sass/_partials/_navigation.scss */
.effect6 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 379, sass/_partials/_navigation.scss */
.effect6:before, .effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

/* line 1, sass/_partials/_projects.scss */
div.imageBlock {
  text-align: center;
  margin-bottom: 2.0em;
}
/* line 4, sass/_partials/_projects.scss */
div.imageBlock img.aW {
  width: 60%;
  height: auto;
  max-height: 1024px;
  text-align: center;
  margin: 0 auto;
}
/* line 11, sass/_partials/_projects.scss */
div.imageBlock img.aH {
  width: 100%;
  height: auto;
  float: left;
  margin: 0 auto;
}

/* line 18, sass/_partials/_projects.scss */
a.more_link {
  float: right;
}
@media screen and (max-width: 979px) {
  /* line 18, sass/_partials/_projects.scss */
  a.more_link {
    display: block;
    width: 100%;
  }
}

/* line 15, sass/bourbon/addons/_clearfix.scss */
.individual-project:after {
  content: "";
  display: table;
  clear: both;
}
/* line 27, sass/_partials/_projects.scss */
.individual-project h1 {
  float: left;
  display: block;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.75em;
  color: #E6EFC8;
  line-height: 1.5em;
}
/* line 37, sass/_partials/_projects.scss */
.individual-project a {
  display: block;
  color: #900;
  text-transform: uppercase;
}

/* line 43, sass/_partials/_projects.scss */
div.firstImage {
  width: 100%;
  height: auto;
  display: block;
}
/* line 47, sass/_partials/_projects.scss */
div.firstImage img {
  width: 100%;
  height: auto;
}

/* line 1, sass/_partials/_contact.scss */
article.individual-member {
  border-bottom: 1px solid #E6EFC8;
  margin-bottom: 2.0em;
  padding-bottom: 1.25em;
}

/* line 6, sass/_partials/_contact.scss */
div.contact_form {
  width: 75%;
  margin: 2.0em auto;
}

/* line 10, sass/_partials/_contact.scss */
.empty_number {
  display: none;
}

/* line 13, sass/_partials/_contact.scss */
.team_cell > span {
  float: left;
}

/* line 16, sass/_partials/_contact.scss */
span.space {
  margin-right: 2.0em;
}

/* line 20, sass/_partials/_contact.scss */
button, input[type="submit"] {
  background-color: #E6EFC8;
  color: #900;
}
/* line 23, sass/_partials/_contact.scss */
button:hover, input[type="submit"]:hover {
  background-color: #eaeddf;
}
