footer{	
	margin-top:2.0em;
	@include outer-container;
	ul#footer-list{
		border-top:1px solid #E6EFC8;
		border-bottom:1px solid #E6EFC8;
		padding:7px 0 5px;
		display: flex;
		flex-flow: space-between;
		margin-bottom: 40px;
		li{
			flex-grow: 1;
		}
	}

	.flex-container {
	  padding: 0;
	  margin: 0;
	  list-style: none; 
	  -ms-box-orient: horizontal;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: flex;
	}

	.space-between { 
	  -webkit-justify-content: space-between; 
	  justify-content: space-between; 
	}  

	 @include media ($tablet) {
	 	ul#footer-list{
	 		flex-direction: column;
	 		li{
	 			text-align:center;
	 		}
	 	}
	 }
}