body {
	background: #080912 url(images/backgroundWood.jpg) no-repeat;
	background-size:100%;
	background-position:fixed;
}
#main{
	@include outer-container;
	@include clearfix;
	@include media ($tablet) {
		padding:0 2.0em;
	}
}
section#top_block{
	position:relative;
	@include clearfix;
}
#home_rotate{
	@include span-columns(12);
	@include clearfix;
	padding-bottom:24px;
	border-bottom:1px solid #E6EFC8;
	margin-bottom: 12px;
	img{
		width:100%;
		height:auto;
		max-height:40em;
		overflow:hidden;
	}
}